h5 img{
  width: 31px;
}
p img{
  width: 25px;
}

h1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

p, li{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
